body {
    background-image: url('https://a57.foxnews.com/media2.foxnews.com/BrightCove/694940094001/2018/07/10/1200/675/694940094001_5807522841001_5807532653001-vs.jpg?ve=1&tl=1');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
}

td {
    color: white;
}
th {
    color: white;
}

